@import "tailwindcss";

@theme {
  --color-azul-pro: #0052FF;
  --color-lima-neon: #CCFF00;
  --color-carbon: #1A1A1B;
  --color-nieve: #F8F9FA;
  --color-acero: #E2E8F0;
}

:root {
  background-color: #F8F9FA;
  color: #1A1A1B;
}

body {
  font-family: var(--font-body);
  background: radial-gradient(circle at top right, rgba(0, 82, 255, 0.08), transparent 35%), #F8F9FA;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-titles);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -0.03em;
}
